/.dist/*
/node_modules/
.DS_STORE
frontend/package-lock.json
yarn.lock
Eform/Eform/obj/
Eform/Eform/obj/Debug/net6.0/
Eform/Eform/bin/
Eform/Eform/bin/Debug/net6.0/
EFormApi/bin/Debug/net5.0/EFormApi.dll
EFormApi/bin/Debug/net5.0/EFormApi.pdb
EFormApi/bin/Debug/net5.0/EFormApi.runtimeconfig.dev.json
EFormApi/bin/Debug/net5.0/Humanizer.dll
EFormApi/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
EFormApi/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Design.dll
EFormApi/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
EFormApi/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
EFormApi/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
EFormApi/bin/Debug/net5.0/Microsoft.OpenApi.dll
EFormApi/bin/Debug/net5.0/Newtonsoft.Json.dll
EFormApi/bin/Debug/net5.0/Npgsql.dll
EFormApi/bin/Debug/net5.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
EFormApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
EFormApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
EFormApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
EFormApi/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
EFormApi/obj/EFormApi.csproj.nuget.dgspec.json
EFormApi/obj/EFormApi.csproj.nuget.g.props
EFormApi/obj/EFormApi.csproj.nuget.g.targets
EFormApi/obj/project.assets.json
EFormApi/obj/project.nuget.cache
EFormApi/obj/Debug/net5.0/EFormApi.assets.cache
EFormApi/obj/Debug/net5.0/EFormApi.csproj.AssemblyReference.cache
EFormApi/obj/Debug/net5.0/EFormApi.csproj.CoreCompileInputs.cache
EFormApi/obj/Debug/net5.0/EFormApi.csproj.FileListAbsolute.txt
EFormApi/obj/Debug/net5.0/EFormApi.dll
EFormApi/obj/Debug/net5.0/EFormApi.GeneratedMSBuildEditorConfig.editorconfig
EFormApi/obj/Debug/net5.0/EFormApi.genruntimeconfig.cache
EFormApi/obj/Debug/net5.0/EFormApi.pdb
EFormApi/bin/Debug/net5.0/EFormApi.dll
EFormApi/bin/Debug/net5.0/EFormApi.pdb
EFormApi/bin/Debug/net5.0/EFormApi.runtimeconfig.dev.json
EFormApi/bin/Debug/net5.0/Humanizer.dll
EFormApi/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
EFormApi/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Design.dll
EFormApi/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
EFormApi/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
EFormApi/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
EFormApi/bin/Debug/net5.0/Microsoft.OpenApi.dll
EFormApi/bin/Debug/net5.0/Newtonsoft.Json.dll
EFormApi/bin/Debug/net5.0/Npgsql.dll
EFormApi/bin/Debug/net5.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
EFormApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
EFormApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
EFormApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
EFormApi/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
EFormApi/bin/Debug/net5.0/ref/EFormApi.dll
EFormApi/obj/EFormApi.csproj.nuget.dgspec.json
EFormApi/obj/EFormApi.csproj.nuget.g.props
EFormApi/obj/EFormApi.csproj.nuget.g.targets
EFormApi/obj/project.assets.json
EFormApi/obj/project.nuget.cache
EFormApi/obj/Debug/net5.0/EFormApi.assets.cache
EFormApi/obj/Debug/net5.0/EFormApi.csproj.AssemblyReference.cache
EFormApi/obj/Debug/net5.0/EFormApi.csproj.CoreCompileInputs.cache
EFormApi/obj/Debug/net5.0/EFormApi.csproj.FileListAbsolute.txt
EFormApi/obj/Debug/net5.0/EFormApi.dll
EFormApi/obj/Debug/net5.0/EFormApi.GeneratedMSBuildEditorConfig.editorconfig
EFormApi/obj/Debug/net5.0/EFormApi.genruntimeconfig.cache
EFormApi/obj/Debug/net5.0/EFormApi.pdb
EFormApi/obj/Debug/net5.0/ref/EFormApi.dll
EFormApi/bin/Debug/net5.0/EFormApi.deps.json
EFormApi/bin/Debug/net5.0/EFormApi.dll
EFormApi/bin/Debug/net5.0/EFormApi.pdb
EFormApi/bin/Debug/net5.0/EFormApi.runtimeconfig.dev.json
EFormApi/bin/Debug/net5.0/Humanizer.dll
EFormApi/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
EFormApi/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Design.dll
EFormApi/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
EFormApi/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
EFormApi/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
EFormApi/bin/Debug/net5.0/Microsoft.OpenApi.dll
EFormApi/bin/Debug/net5.0/Newtonsoft.Json.Bson.dll
EFormApi/bin/Debug/net5.0/Newtonsoft.Json.dll
EFormApi/bin/Debug/net5.0/Npgsql.dll
EFormApi/bin/Debug/net5.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
EFormApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
EFormApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
EFormApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
EFormApi/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
EFormApi/bin/Debug/net5.0/System.Net.Http.Formatting.dll
EFormApi/bin/Debug/net5.0/System.Web.Cors.dll
EFormApi/bin/Debug/net5.0/System.Web.Http.Cors.dll
EFormApi/bin/Debug/net5.0/System.Web.Http.dll
EFormApi/bin/Debug/net5.0/ref/EFormApi.dll
EFormApi/obj/EFormApi.csproj.nuget.dgspec.json
EFormApi/obj/EFormApi.csproj.nuget.g.props
EFormApi/obj/EFormApi.csproj.nuget.g.targets
EFormApi/obj/project.assets.json
EFormApi/obj/project.nuget.cache
EFormApi/obj/Debug/net5.0/EFormApi.assets.cache
EFormApi/obj/Debug/net5.0/EFormApi.csproj.AssemblyReference.cache
EFormApi/obj/Debug/net5.0/EFormApi.csproj.CoreCompileInputs.cache
EFormApi/obj/Debug/net5.0/EFormApi.csproj.FileListAbsolute.txt
EFormApi/obj/Debug/net5.0/EFormApi.dll
EFormApi/obj/Debug/net5.0/EFormApi.GeneratedMSBuildEditorConfig.editorconfig
EFormApi/obj/Debug/net5.0/EFormApi.genruntimeconfig.cache
EFormApi/obj/Debug/net5.0/EFormApi.pdb
EFormApi/obj/Debug/net5.0/ref/EFormApi.dll
EFormApi/bin/Debug/net5.0/EFormApi.dll
EFormApi/bin/Debug/net5.0/EFormApi.pdb
EFormApi/bin/Debug/net5.0/EFormApi.runtimeconfig.dev.json
EFormApi/bin/Debug/net5.0/Humanizer.dll
EFormApi/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
EFormApi/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Design.dll
EFormApi/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
EFormApi/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
EFormApi/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
EFormApi/bin/Debug/net5.0/Microsoft.OpenApi.dll
EFormApi/bin/Debug/net5.0/Newtonsoft.Json.dll
EFormApi/bin/Debug/net5.0/Npgsql.dll
EFormApi/bin/Debug/net5.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
EFormApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
EFormApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
EFormApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
EFormApi/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
EFormApi/bin/Debug/net5.0/ref/EFormApi.dll
EFormApi/obj/EFormApi.csproj.nuget.dgspec.json
EFormApi/obj/EFormApi.csproj.nuget.g.props
EFormApi/obj/EFormApi.csproj.nuget.g.targets
EFormApi/obj/project.assets.json
EFormApi/obj/project.nuget.cache
EFormApi/obj/Debug/net5.0/EFormApi.assets.cache
EFormApi/obj/Debug/net5.0/EFormApi.csproj.AssemblyReference.cache
EFormApi/obj/Debug/net5.0/EFormApi.csproj.CoreCompileInputs.cache
EFormApi/obj/Debug/net5.0/EFormApi.csproj.FileListAbsolute.txt
EFormApi/obj/Debug/net5.0/EFormApi.dll
EFormApi/obj/Debug/net5.0/EFormApi.GeneratedMSBuildEditorConfig.editorconfig
EFormApi/obj/Debug/net5.0/EFormApi.genruntimeconfig.cache
EFormApi/obj/Debug/net5.0/EFormApi.pdb
EFormApi/obj/Debug/net5.0/ref/EFormApi.dll
EFormApi/bin/Debug/net5.0/EFormApi.dll
EFormApi/bin/Debug/net5.0/EFormApi.pdb
EFormApi/bin/Debug/net5.0/EFormApi.runtimeconfig.dev.json
EFormApi/bin/Debug/net5.0/Humanizer.dll
EFormApi/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
EFormApi/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Design.dll
EFormApi/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
EFormApi/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
EFormApi/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
EFormApi/bin/Debug/net5.0/Microsoft.OpenApi.dll
EFormApi/bin/Debug/net5.0/Newtonsoft.Json.dll
EFormApi/bin/Debug/net5.0/Npgsql.dll
EFormApi/bin/Debug/net5.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
EFormApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
EFormApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
EFormApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
EFormApi/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
EFormApi/bin/Debug/net5.0/ref/EFormApi.dll
EFormApi/obj/EFormApi.csproj.nuget.dgspec.json
EFormApi/obj/EFormApi.csproj.nuget.g.props
EFormApi/obj/EFormApi.csproj.nuget.g.targets
EFormApi/obj/project.assets.json
EFormApi/obj/project.nuget.cache
EFormApi/obj/Debug/net5.0/EFormApi.assets.cache
EFormApi/obj/Debug/net5.0/EFormApi.csproj.AssemblyReference.cache
EFormApi/obj/Debug/net5.0/EFormApi.csproj.CoreCompileInputs.cache
EFormApi/obj/Debug/net5.0/EFormApi.csproj.FileListAbsolute.txt
EFormApi/obj/Debug/net5.0/EFormApi.dll
EFormApi/obj/Debug/net5.0/EFormApi.GeneratedMSBuildEditorConfig.editorconfig
EFormApi/obj/Debug/net5.0/EFormApi.genruntimeconfig.cache
EFormApi/obj/Debug/net5.0/EFormApi.pdb
EFormApi/obj/Debug/net5.0/ref/EFormApi.dll
